
{:source-paths ["src"]
 :dependencies [
                [com.cognitect/transit-cljs "0.8.256"]
                [brave/swords "0.1.0-SNAPSHOT"]
                ]
 :builds {:app {:target :node-script
                :output-to "target/main.js"
                :main server.main/main!
                :devtools {:after-load server.main/reload!}}}}
